In [2]:
import numpy as np
import pandas as pd

In [3]:
email = 'vlad@email.com'

In [4]:
email.split('@')

['vlad', 'email.com']

In [5]:
names = pd.Series(['andrew', 'bobo', 'claire', 'david', '5'])

In [6]:
names

0    andrew
1      bobo
2    claire
3     david
4         5
dtype: object

In [7]:
names.str.upper()

0    ANDREW
1      BOBO
2    CLAIRE
3     DAVID
4         5
dtype: object

In [14]:
email.isdigit()  # Проверка на цифру

False

In [15]:
'5'.isdigit()

True

In [16]:
names.str.isdigit()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [17]:
tech_finance = ['GOOG,APPL,AMZN', 'JPN,BAC,GS']

In [18]:
len(tech_finance)

2

In [19]:
tickers = pd.Series(tech_finance)

In [20]:
tickers

0    GOOG,APPL,AMZN
1        JPN,BAC,GS
dtype: object

In [26]:
tickers.str.split(',', expand=True)  # expand=True - получить отдельные колонки (DataFrame)

      0     1     2
0  GOOG  APPL  AMZN
1   JPN   BAC    GS

In [27]:
tech = 'GOOG, APPL, AMZN'

In [24]:
tech.split(',')[0]

'GOOG'

In [28]:
messy_names = pd.Series(['andrew  ', 'bo:bo', '  claire  '])

In [29]:
messy_names

0      andrew
1         bo:bo
2      claire
dtype: object

In [30]:
messy_names[0]

'andrew  '

In [38]:
messy_names.str.replace(':', '').str.strip().str.capitalize()  # Замена : на пустоту, удалить пробелы слева и справа, сделать первые буквы заглавными

0    Andrew
1      Bobo
2    Claire
dtype: object

In [44]:
def cleanup(name):
    """Вызов функции займет меньше времени чем вызывать по одному методу"""
    name = name.replace(":","")
    name = name.strip()
    name = name.capitalize()
    return name

In [45]:
messy_names.apply(cleanup)  # Использовать свою функцию

0    Andrew
1      Bobo
2    Claire
dtype: object