In [7]:
import pandas as pd

In [8]:
pwd

'/home/rostya/AI_course/Pandas'

In [9]:
ls

p10.ipynb  p12.ipynb  p14.ipynb  p5.ipynb  p7.ipynb  p9.ipynb
p11.ipynb  p13.ipynb  p4.ipynb   p6.ipynb  p8.ipynb

In [10]:
import os

In [11]:
os.getcwd()  # Get current working directory

'/home/rostya/AI_course/Pandas'

In [21]:
df = pd.read_csv('/home/rostya/AI_course/UNZIP_ME_FOR_NOTEBOOKS_ML_RUS_V7/03-Pandas/example.csv')

In [22]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [27]:
df.to_csv('newfile.csv', index=False)  # Write csv file

In [28]:
new = pd.read_csv('newfile.csv')  # Read csv file

In [29]:
new

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15