In [5]:
import pandas as pd

In [11]:
df = pd.read_excel('/home/rostya/AI_course/UNZIP_ME_FOR_NOTEBOOKS_ML_RUS_V7/03-Pandas/my_excel_file.xlsx', engine='openpyxl', sheet_name='First_Sheet')

In [9]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [12]:
wb = pd.ExcelFile('/home/rostya/AI_course/UNZIP_ME_FOR_NOTEBOOKS_ML_RUS_V7/03-Pandas/my_excel_file.xlsx')

In [13]:
wb.sheet_names

['First_Sheet']

In [14]:
excel_sheet_dict = pd.read_excel('/home/rostya/AI_course/UNZIP_ME_FOR_NOTEBOOKS_ML_RUS_V7/03-Pandas/my_excel_file.xlsx', sheet_name=None)
type(excel_sheet_dict)

dict

In [15]:
excel_sheet_dict.keys()

dict_keys(['First_Sheet'])

In [18]:
our_df = excel_sheet_dict['First_Sheet']

In [19]:
excel_sheet_dict

{'First_Sheet':     a   b   c   d
 0   0   1   2   3
 1   4   5   6   7
 2   8   9  10  11
 3  12  13  14  15}

In [20]:
our_df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [21]:
our_df.to_excel('example.xlsx', sheet_name='First_Sheet', index=False)