In [1]:
# Data Frame - это таблица с данными у которой есть именованный индекс

In [40]:
import numpy as np

In [41]:
import pandas as pd

In [42]:
np.random.seed(101)

In [43]:
mydata = np.random.randint(0, 101, (4, 3))

In [44]:
mydata

array([[95, 11, 81],
       [70, 63, 87],
       [75,  9, 77],
       [40,  4, 63]])

In [45]:
myindex = ['CA', 'NY', 'AZ', 'TX']

In [46]:
mycolumns = ['Jan', 'Feb', 'Mar']

In [47]:
df = pd.DataFrame(mydata, myindex, mycolumns)

In [48]:
df

    Jan  Feb  Mar
CA   95   11   81
NY   70   63   87
AZ   75    9   77
TX   40    4   63

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, CA to TX
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Jan     4 non-null      int64
 1   Feb     4 non-null      int64
 2   Mar     4 non-null      int64
dtypes: int64(3)
memory usage: 128.0+ bytes

In [50]:
pwd  # Print working directory

'/home/rostya/AI_course/Pandas'

In [51]:
ls

p4.ipynb  p5.ipynb

In [52]:
ls -la

total 668
drwxr-xr-x. 1 rostya rostya     68 Feb 11 13:24 ./
drwxr-xr-x. 1 rostya rostya    290 Feb 10 23:43 ../
drwxr-xr-x. 1 rostya rostya     76 Feb 11 13:03 .ipynb_checkpoints/
-rw-r--r--. 1 rostya rostya 671851 Feb 10 23:37 p4.ipynb
-rw-r--r--. 1 rostya rostya   5834 Feb 11 13:24 p5.ipynb